{% extends "listado/base.html" %}

{% block title %}Listado de adopciones{% endblock %}

{% block content %}
    <div class="tabla" id="tabla-interactiva">
        <table>
            <thead>
                <tr>
                    <th>Fecha de publicación</th>
                    <th>Fecha de entrega</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad Tipo <br>Edad</th>
                    <th>Nombre <br> Contacto</th>
                    <th>Foto</th>
                </tr>
            </thead>

            <tbody>
                {%if data %}
                    {% for aviso in data %}
                    <tr>
                        <td>{{ aviso.fecha_ingreso }}</td>
                        <td>{{ aviso.fecha_entrega }}</td>
                        <td>{{ aviso.comuna }}</td>
                        <td>{{ aviso.sector }}</td>
                        <td>{{ aviso.cantidad }} {{ aviso.tipo }}<br>{{ aviso.edad }} {{ aviso.unidad_medida }}</td>
                        <td>
                            {{ aviso.nombre }}<br>
                            {% if aviso.celular %}
                                Tel: {{ aviso.celular }}
                            {% else %}
                                correo: {{ aviso.email }}
                            {% endif %}
                        </td>
                        <td>
                            <img src="{{ aviso.path_image }}" alt="Foto de adopción" width="200">
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}