<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ aviso.nombre }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <div class="detalle-box">
        <h2>{{ aviso.nombre }}</h2>

    <img src="{{ url_for(fotos[0].ruta_archivo, filename=fotos[0].nombre_archivo) }}" alt="{{ aviso.nombre }}">


    <ul>
        <li>Tipo: {{ aviso.tipo|capitalize }}</li>
        <li>Edad: {{ aviso.edad }} {% if aviso.unidad_medida == 'a' %}año(s){% else %}mes(es){% endif %}</li>
        <li>Cantidad: {{ aviso.cantidad }}</li>
        <li>Descripción: {{ aviso.descripcion or 'Sin descripción' }}</li>
        <li>Ubicación: {{ comuna.nombre }}, {{ region.nombre }}</li>
    </ul>

    <br>
    <h3>Contacto:</h3>
    <ul>
        <li>Nombre: {{ aviso.nombre }}</li>
        {% for c in contactos %}
            <li>{{ c.nombre }}: {{ c.identificador }}</li>
        {% endfor %}
        {% if aviso.celular %}
            <li>Teléfono: {{ aviso.celular }}</li>
        {% endif %}
        <li>Correo: {{ aviso.email }}</li>
    </ul>

    <br>
    <h3>Fechas</h3>
    <ul>
        <li>Publicación: {{ aviso.fecha_ingreso.strftime("%Y-%m-%d %H:%M") }}</li>
        <li>Retiro desde: {{ aviso.fecha_entrega }}</li>
    </ul>

    <br>
    <h3>Fotos adicionales:</h3>
    {% for foto in fotos %}
        <img src="{{ url_for(foto.ruta_archivo, filename=foto.nombre_archivo) }}" alt="{{ aviso.nombre }} {{ loop.index }}">
    {% endfor %}
    <br>
    <div class="comentarios">
        <h3>Comentarios: </h3>
        <form name="nuevo_comentario">
            <label for="c_nombre">Nombre</label><br>
            <input type="text" name="c_nombre" id="c_nombre"><br>

            <label for="c_texto">Comentario</label><br>
            <textarea name="c_texto" id="c_texto" rows="4" cols="50"></textarea><br>
            <button>Añadir comentario</button><br>
        </form>

    </div>


    <br><br>
    <div class="botones">
        <form action="{{ url_for('listado') }}">
            <button id="listado-btn" type="submit">Volver al listado</button>
        </form>
        <form action="{{ url_for('index') }}">
            <button id="portada-btn" type="submit">Volver a la portada</button>
        </form>
    </div>
    </div>
</body>
</html>