{% extends "estadisticas/base.html" %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
<div class="stats">
    <div class="grafico1">
        <h2>Gráfico de la cantidad de avisos a lo largo del año</h2>
        <div id="grafico-1"></div>
    </div>

    <div class="grafico2">
        <h2>Gráfico del porcentaje de tipos de mascotas de los avisos</h2>
        <div id="grafico-2"></div>
    </div>

    <div class="grafico3">
        <h2>Gráfico de la cantidad de avisos mensualmente</h2>
        <div id="grafico-3"></div>
    </div>

    <br>
    <form name="e_portada" action="{{ url_for('index') }}">
        <button id="stats-btn">Volver a la portada</button>
    </form>
</div>
{% endblock %}