<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Agregar un aviso</h1>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='JS/formulario/funciones_formulario.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/formulario/validacin_formulario.js') }}"></script>
</body>
</html>