<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
    <div class="main-container">
        <div id="final-box">
            <h2 id="final-msg">{{ mensaje }}</h2>
            <div class="botones">
                <form name="f_portada" action="{{ url_for('index') }}">
                    <button id="final-btn">Volver a la portada</button>
                </form>
                <form name="f_formulario" action="{{ url_for('formulario') }}">
                    <button id="formulario">Agregar otro aviso</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='JS/formulario/msj_final_formulario.js') }}"></script>
</body>
</html>